$border-size-for-hover: 5px;

#infraRED-ui-canvas {
    background-color: #ffb570;

    padding: $border-size-for-hover;
}

.drop-hover {
    border: $border-size-for-hover dashed red;
    padding: 0px !important;
}