#infraRED-ui-canvas {
    border-bottom: $layout-border;

    .content {
        background-color: $canvas-background-color;
    
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    
        //prevents slider bars from appearing when a dragged node touches the bottom/right of the div
        //padding: 5px;
    
        cursor: crosshair;
        overflow: auto;

        svg {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }
}

.canvas-hover-drop {
    background-color: $canvas-background-color-hover !important;
}

#infraRED-ui-canvas .canvas-relationship-line {
    stroke-linecap: round;
    stroke: $relationship-line-color;
    stroke-width: 5px;
}

#infraRED-ui-canvas .canvas-preview-relationship-line {
    stroke-linecap: round;
    stroke: $relationship-preview-line-color;
    stroke-width: 4px;
}

@mixin canvas-grid-line {
    stroke: $canvas-grid-line-color;
    stroke-width: 1px;
}

#infraRED-ui-canvas .canvas-grid-horizontal-line {
    @include canvas-grid-line;
}

#infraRED-ui-canvas .canvas-grid-vertical-line {
    @include canvas-grid-line;
}