#infraRED-ui-canvas {
    background-color: #fdc28a;
    border-bottom: $layout-border;
}

#infraRED-ui-canvas .title {
    background-color: #ffb570;
}

.node-hover-drop {
    background-color: #ff9029 !important;
} 