#infraRED-ui-category-bar {
    border-right: $layout-border;
    border-bottom: $layout-border;

    .title {
        background-color: #ea6b66;
    }

    .content {
        background-color: #fd9694;
    
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        
        padding: 5px;
    
        overflow-y: scroll;
        overflow-x: hidden;
    
        .category {
    
        }
    }
}