#infraRED-ui-category-bar {
    border-right: $layout-border;
    border-bottom: $layout-border;
}

#infraRED-ui-category-bar .title {
    background-color: #ea6b66;
}

#infraRED-ui-category-bar .content {
    background-color: #fd9694;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    overflow-y: scroll;
    overflow-x: hidden;
}