$layout-background: #ffffff;

// Canvas
$canvas-background-color: #e9e9e9;
$canvas-background-color-hover: #cfcfcf;
$canvas-grid-line-color: #000000;

// Node
$node-border-color: #616161;
$node-background-color: #cbcbcb;

$node-border-color-hover: #15a7f0;

$node-requirement-color: #ffb973;
$node-requirement-border-color: #ff9933;

$node-capability-color: #16f23f;
$node-capability-border-color: #24b940;

$node-selected-connectable-color: #c14040;
$node-selected-connectable-border-color: #e51a1a;

// Relationship
$relationship-preview-line-color: #1062c7;
$relationship-line-color: #1121d2;

// Category #fd9694
$category-background-color: #fd9694;

// Resource #c2ff9f
$resource-background-color: #c2ff9f;
$resource-category-title-background-color: #97d077;

// Menu #a6c9ff
$menu-background-color: #a6c9ff;

// Status #ffe493
$status-background-color: #ffe493;