$layout-background: #ffffff;

// Canvas
$canvas-background-color: #ffffff;
$canvas-background-color-hover: #eeeeee;
$canvas-grid-line-color: #000000;

// Category #fd9694
$category-background-color: #fd9694;

// Resource #c2ff9f
$resource-background-color: #c2ff9f;

// Menu #a6c9ff
$menu-background-color: #a6c9ff;

// Status #ffe493
$status-background-color: #ffe493;