//setup the editor layout
#infraRED-ui-root {
    background-color: rgb(255, 255, 255);

    display: grid;
    /* Canvas 4x Resource Bar 4x Category*/
    grid-template-columns: 80px 200px 4fr;
    grid-template-rows: 50px 1fr 50px;

    text-align: center;
}

$layout-border: .5vh solid black;

#infraRED-ui-category-bar {
    grid-column: 1;
    grid-row: 1 / 3;

    overflow-y: scroll;
    overflow-x: hidden;
}
@import 'category';

#infraRED-ui-resource-bar {
    grid-column: 2;
    grid-row: 1 / 3;

    overflow-y: scroll;
    overflow-x: hidden;
}
@import 'resource';

#infraRED-ui-canvas {
    grid-column: 3;
    grid-row: 2;
}
@import 'canvas';

#infraRED-ui-menu-bar {
    grid-column: 3;
    grid-row: 1;
}
@import 'menu';

#infraRED-ui-status-bar {
    grid-column: 1 / 4;
    grid-row: 3;
}
@import 'status';

@import 'node';