//setup the editor layout
#infraRED-ui-root {
    background-color: rgb(255, 255, 255);
}

$border-width: 3px;
$layout-border: $border-width solid rgb(0, 0, 0);

$menu-height: 50px;
$status-height: 50px;

$category-width: 60px;
$resource-width: 200px;

.title {
    width: 100%;
    padding-left: 5px;
}

#infraRED-ui-category-bar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: $status-height;
    
    width: $category-width;
}
@import 'category';

#infraRED-ui-resource-bar {
    position: absolute;
    top: 0;
    left: $category-width + $border-width;
    bottom: $status-height;
    
    width: $resource-width;
}
@import 'resource';

#infraRED-ui-canvas {
    position: absolute;
    top: $menu-height + $border-width;
    left: $category-width + $resource-width + $border-width * 2;
    bottom: $status-height;
    right: 0;
}
@import 'canvas';

#infraRED-ui-menu-bar {
    position: absolute;
    top: 0;
    left: $category-width + $resource-width + $border-width * 2;
    right: 0;

    height: $menu-height;
}
@import 'menu';

#infraRED-ui-status-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;

    height: $status-height;
}
@import 'status';

@import 'node';
@import 'relationship';