#infraRED-ui-menu-bar {
    border-bottom: $layout-border;

    .content {
        background-color: $menu-background-color;
    
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    
        padding: 5px;
    }

    .menu-bar-button {
        background-color: aqua;
        border: #7ea6e0 solid 0.2em;
    
        height: 100%;
        margin-right: 5px;
    }
}