.node {
    height: auto;

    border-radius: 10px;
    border: 0.25em solid $node-border-color;
    background-color: $node-background-color;

    font-family: Arial, sans-serif;
    font-size: 10px;
    text-align: center;

    padding-top: 5px;
    padding-bottom: 5px;

    .type {
        width: 90%;
        padding: 5px 20px;
        margin-bottom: 5px;
        margin-inline: auto;

        border-radius: 10px;
        background-color: $node-border-color-hover;
        
        font-weight: bold;
    }
    .connectable {
        border: 0.45em solid;
        width: 100%;
    }
    .connectable + .connectable {
        margin-top: 0.45em;
    }
    .selected-connectable {
        border-style: dashed;
    }
    .requirement {
        border-color: $node-requirement-border-color;
        background-color: $node-requirement-color;
    }
    .connectable-separator {
        padding-bottom: 0.45em;
        margin-bottom: 0.45em;
        border-bottom: 0.25em dashed $node-border-color;
    }
    .capability {
        border-color: $node-capability-border-color;
        background-color: $node-capability-color;
    }
}

.node:hover {
    cursor: grab;
    border-color: $node-border-color-hover;
}

.ui-draggable-dragging,
.canvas-node {
    width: max-content;

    .type {
        width: auto;
        margin-inline: 7px;
    }
}

.canvas-node {
    .requirement {
        cursor: pointer;
    }
    .capability {
        cursor: pointer;
    }
}