.node {
    box-sizing: border-box;

    height: auto;

    border-radius: 10px;
    border: 0.25em solid $node-border-color;
    background-color: $node-background-color;

    font-family: Arial, sans-serif;
    font-size: 10px;
    text-align: center;
}

.node:hover {
    cursor: grab;
    border-color: $node-border-color-hover;
}

.ui-draggable-dragging,
.canvas-node {
    width: auto !important;
}

.node {
    .type {
        box-sizing: border-box;
        width: 100%;

        background-color: $node-border-color-hover;
        font-weight: bold;
        border-radius: 10px;
        padding: 5px 5px;
    }
    .requirement {
        margin: 5px auto;
        border: 0.15em solid $node-requirement-color;
        background-color: $node-requirement-border-color;
        width: 95%;
    }
    .capability {
        margin: 5px auto;
        border: 0.15em solid $node-capability-color;
        background-color: $node-capability-border-color;
        width: 95%;
    }
}

.canvas-node {
    .requirement {
        cursor: pointer;
    }
    .capability {
        cursor: pointer;
    }
}

//vvvvvvvvvv not implemented yet vvvvvvvvvv

.node-flow-in, .node-flow-out, .node-content {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.node-flow-in {
    transform: translateX(-60%);
}

.node-flow-out {
    transform: translateX(+60%);
}

button.flow-in, button.flow-out {
    border-radius: 40%;
    border: 0.2em solid rgb(61, 61, 61);
    background-color: rgb(177, 177, 177);

    color: white;
    font-size: 10px;
    font-weight: bold;
    text-align: center;

    width: 2vh;
    height: 2vh;
}

button.flow-in:hover, button.flow-out:hover {
    border-radius: 40%;
    border: 0.2em solid rgb(221, 221, 221);
    background-color: rgb(105, 105, 105);
}