.node {
    width: 160px;
    height: auto;

    border-radius: 10px;
    border: 0.4vh solid $node-border-color;
    background-color: $node-background-color;

    font-family: Arial, sans-serif;
    font-size: 10px;
    text-align: center;
    word-wrap: break-word;

    padding-top: 5px;
    padding-bottom: 8px;

    .type {
        width: 90%;
        padding: 5px 20px;
        margin-bottom: 5px;
        margin-inline: auto;

        border-radius: 10px;
        background-color: $node-border-color-hover;
        
        font-weight: bold;
    }
    .connectable {
        border: 0.4vh solid;
        width: 100%;
    }
    .connectable + .connectable {
        margin-top: 0.4vh;
    }
    .capability {
        border-color: $node-capability-border-color;
        background-color: $node-capability-color;
    }
    .requirement {
        border-color: $node-requirement-border-color;
        background-color: $node-requirement-color;
    }
    .connectable-separator {
        padding-bottom: 0.4vh;
        margin-bottom: 0.4vh;
        border-bottom: 0.4vh dashed $node-border-color;
    }
}

.node:hover {
    cursor: grab;
    border-color: $node-border-color-hover;
}

svg g.canvas-node {
    user-select: none;
    .background {
        stroke: $node-border-color;
        stroke-width: 0.3vh;
        fill: $node-background-color;
    }
    .type {
        rect {
            fill: $node-border-color-hover;
        }
        text {
            
        }
    }
    .connectable {
        rect {
            stroke-width: 0.3vh;
        }
        text {
            user-select: none;
        }
    }
    rect.selected-connectable {
        stroke: $node-selected-connectable-border-color !important;
        stroke-dasharray: 6 2;
        fill: $node-selected-connectable-color !important;
    }
    .capability {
        rect {
            stroke: $node-capability-border-color;
            fill: $node-capability-color;
        }
        text {
        }
    }
    .requirement {
        rect {
            stroke: $node-requirement-border-color;
            fill: $node-requirement-color;
        }
        text {
        }
    }
    .connectable-separator {
        stroke: $node-border-color;
        stroke-width: 0.3vh;
        stroke-dasharray: 8 2;
    }
}

svg g.canvas-node:hover {
    cursor: grab;
    .background {
        stroke: $node-border-color-hover;
    }
}

.modal-content {
    //overwrite parent
    z-index: 2;
    opacity: 1;
    cursor: default;

    width: 60%;
    margin: auto;
    padding: 1%;

    border: $node-modal-content-border;
    background-color: $node-modal-content-background-color;
    
    .close {
        color: $node-modal-content-close-button-color;
        float: right;
        font-size: 20px;
        font-weight: bold;
    }
      
    .close:hover,
    .close:focus {
        color: $node-modal-content-close-button-color-hover;
        text-decoration: none;
        cursor: pointer;
    }
}

