#infraRED-ui-resource-bar {
    border-right: $layout-border;
    border-bottom: $layout-border;

    display: flex;
    flex-direction: column;
}

#infraRED-ui-resource-bar .title {
    background-color: #97d077;
}

#infraRED-ui-resource-bar .content {
    background-color: #c2ff9f;

    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}