#infraRED-ui-resource-bar {
    border-right: $layout-border;
    border-bottom: $layout-border;

    .title {
        background-color: $resource-category-title-background-color;
    }

    .content {
        background-color: $resource-background-color;
    
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        #resource-tabs {
            .tab {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;

                overflow-y: scroll;
                overflow-x: hidden;
            
                display: flex;
                flex-direction: column;
                align-items: center;

                .title {
                    margin-top: 5px;
                    margin-bottom: 5px;
                }

                .resource + .resource {
                    margin-top: 20px;
                }
            }
        }
    }
}