#infraRED-ui-resource-bar {
    border-right: $layout-border;
    border-bottom: $layout-border;

    .title {
        background-color: #97d077;
    }

    .content {
        background-color: #c2ff9f;
    
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    
        padding-top: 20px;
    
        overflow-y: scroll;
        overflow-x: hidden;
    
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
    }
}