#infraRED-ui-status-bar {
    .content {
        background-color: $status-background-color;
    
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    
        padding-left: 5px;
        padding-top: 5px;
    }
}