#infraRED-ui-status-bar {
    display: flex;
    flex-direction: column;
}

#infraRED-ui-status-bar .title {
    background-color: #ffd966;
}

#infraRED-ui-status-bar .content {
    background-color: #ffe493;

    height: 100%;
    overflow: hidden;
}