//setup the window environment
body {
    background-color: #ffffff;

    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

#infraRED-ui-root {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    margin: 0;

    //prevents slider bars from appearing when a dragged node touches the bottom/right of the div
    padding: 5;
}

@import 'colors';
@import 'editor';